# Phantom
# phantom.filename = 'CatSimLogo_1024/CatSim_logo_1024.json'       # phantom filename
# phantom.filename = 'Adult_Female_50percentile_Chest_Phantom_slab_400_1650x1050x1/adult_female_50percentile_chest_slab_400.json'
# phantom.filename = 'Adult_Male_50percentile_Chest_Phantom_1700x1050x900/adult_male_50percentile_chest.json'
phantom.filename = 'Adult_Male_50percentile_Chest_Phantom_slab_400_1700x1050x1/adult_male_50percentile_chest.json'       # phantom filename
phantom.centerOffset = [0.0, 0.0, 0.0]      # offset of phantom center relative to origin (in mm)
phantom.scale = 1.0                         # re-scale the size of phantom  0.5
